build/

# Mac OS X cruft
*.pbxuser
*.mode1v3
*.mode2v3
*.user
project.xcworkspace
xcuserdata/
*.xccheckout
*.xcscmblueprint
.DS_Store

# Windows cruft
Debug/
Release/
*.suo
*.ncb
*.sdf
*.VC.opendb
*.VC.db
*.opensdf
ipch/
**/vc2013/enc_temp_folder/**

# Jetbrains IDEs
.idea
